body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
}
main{
    width: 95%;
    font-family: 'Press Start 2P', cursive;
    display:flex;
    flex-direction: column;
    align-items: center;
}
aside{
    width: 5%;
}
.replay{
    background-color: #5d0081;
    color: white;
}
canvas{
    box-shadow: black 20px 10px 50px ;
}
#canvas{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    align-items: center;
    margin: 0;
    background: #5d0081;
    border: 1px solid #000000;
    box-shadow: black 20px 10px 50px ;
    position: relative;
    bottom:476px;
}
h6{
    font-size: 7px;
    color: #000000;
}
#canvas h1{
    font-size: 32px;
    text-align: center;
    font-weight: 100;
    color:white;
}
#pause{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    align-items: center;
    margin: 0;
    background: #5d0081;
    border: 1px solid #000000;
    box-shadow: black 20px 10px 50px ;
    position: relative;
    bottom:476px;
}
.btn{
    cursor: pointer;
    margin: 20px;
    padding: 30px;
    background: #000000;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
.btn:hover{
    color: #5d0081;
    transform: scale(1.2);
}
h2{
    margin: 10px 0px 10px;
    font-size: 10px;
}
.keys{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.arr {
    cursor: pointer;
    text-align: center;
    color: white;
    margin: 1px;
    transition: all .05s linear;
  }
.arr:hover{
    color: rgb(0, 0, 0,0.8);
}
.fa{
    font-size: 20px;
    background-color: grey;
    padding: 10px;
}
.up {
    width: 100%;
}
.left,.right,.down{
    width: 25%;
    margin-bottom: 10px;
}
.highScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    box-shadow: black 20px 10px 50px ;
    color: yellow;
    padding: 30px;
    margin: 30px;
}
.highScore h1{
    font-size: 20px;
    margin: 20px;  
    color: white;
}

.highScore span{
    font-size: 39px;
    margin: 20px;
}
::-webkit-scrollbar{
    display: none;
}
.glyphicon{
border: solid 3px black;
border-radius: 20px;
padding: 10px;
cursor: pointer;
}
.glyphicon:hover{
    background-color: yellow;
}
